# Ruby
*.gem
*.rbc
/.config
/coverage/
/InstalledFiles
/pkg/
/.bundle/
/lib/bundler/man/

# temporary files
/spec/reports/
/test/tmp/
/test/version_tmp/
/tmp/
*.swp
*.cookie
*.tmp

# OS metadata
.DS_Store

# configs
config/forae.yaml

!.gitkeep
log/

TODO.md
