*.gem
*.rbc
/.config
/coverage/
/InstalledFiles
/pkg/
/spec/reports/
/test/tmp/
/test/version_tmp/
/tmp/
.DS_Store
*.swp

## Environment normalisation:
/.bundle/
/lib/bundler/man/

# configs
config/forae.yml

# ephemera
*.cookie
*.tmp
